@import "~rfs/scss";
@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.landing-page {
  background-image: url("../../assets/images/bg/landing_page_bg.svg");
  background-repeat: no-repeat;
  background-position: top right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  padding: 0 map-get($paddings, "page") 0 map-get($paddings, "page");

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 5fr 0.5fr;
  grid-template-areas:
    "navbar         navbar"
    "header         illustration"
    "links          links";
  align-items: center;

  section.navbar {
    grid-area: navbar;
    justify-self: stretch;
  }

  header {
    grid-area: header;
    justify-self: center;
    margin-bottom: 10vh;
  }

  section.links {
    grid-area: links;

    .link {
      font-size: 4vmin;
      margin: map-get($paddings, "navbar");

      @include theme() {
        color: themed("textColor");
      }

      &:hover {
        cursor: pointer;
        color: map-get($colors, "accent");
        transition: all 0.2s ease-in-out;
        transform: scale(1.1);
      }
    }
  }

  h1,
  h3 {
    margin: 10px 0 0 0;

    @include theme() {
      color: themed("textColor");
    }
  }

  h1 {
    font-size: 6vmin;
    font-weight: bold;

    @include mobile {
      font-size: 7vmin;
    }
  }

  h3 {
    font-size: 3vmin;
    font-weight: normal;

    @include mobile {
      font-size: 4vmin;
    }
  }
}

/*----- ILLUSTRATION -----*/
#landing-illustration {
  grid-area: illustration;
  justify-self: end;
  width: 40%;
  height: auto;
  margin: 0 15% 15% 0;
}

/*----- MOBILE VERSION -----*/
@include tablet {
  .landing-page {
    background-image: url("../../assets/images/bg/bg-home-mobile.svg");
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-position: bottom right;
    padding: 0 map-get($paddings, "page") / 2 0 map-get($paddings, "page") / 2;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas:
      "navbar   navbar"
      "header   header"
      ".    .";

    section.links {
      display: none;
    }

    #landing-illustration {
      display: none;
    }
  }
}
