@import "~rfs/scss";
@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.contact-page {
  background-image: url("../../assets/images/bg/contact_bg.svg");
  background-repeat: no-repeat;
  background-position: top right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  margin: 10% 0 0 0;
  padding: 0 0 0 10%;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "contact    illustration";

  .title {
    font-size: 3vmin;

    @include theme() {
      color: themed("textColor");
    }

    font-weight: 500;
    margin: 0;
    text-align: left;
    padding: 0 0 5% 0;

    @include mobile {
      font-size: 6vmin;
    }
  }

  #contact-illustration {
    grid-area: illustration;
    align-self: center;
    justify-self: center;
    width: 80%;
    height: auto;
  }
}

section.contact-info {
  grid-area: contact;
  align-self: center;

  .email,
  .phone {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    @include theme() {
      color: themed("textColor");
    }

    .icon {
      font-size: 2vmin;
      padding-right: 20px;

      @include mobile {
        font-size: 4vmin;
      }
    }

    p {
      font-size: 2vmin;
      margin: 0;

      @include mobile {
        font-size: 4vmin;
      }
    }
  }

  .alert {
    padding: 20px;
    color: #fcfcfc;
    opacity: 0.8;
    width: calc(80% - 40px);
    border-radius: 5px;

    &.error {
      background-color: map-get($colors, "error");
    }

    &.success {
      background-color: map-get($colors, "success");
    }
  }
}

form {
  margin-top: 5%;

  input,
  label,
  button,
  textarea {
    display: block;
  }

  label {
    font-size: 1.5vmin;
    @include theme() {
      color: themed("textColor");
    }
    margin-bottom: 5px;

    &.error {
      color: map-get($colors, "error");
    }

    @include mobile {
      font-size: 3vmin;
    }
  }

  label:not(:first-child) {
    margin-top: 2%;
  }

  input {
    font-size: 1.5vmin;
    @include theme() {
      background-color: themed("cardColor");
      color: themed("textColor");
    }

    font-weight: 400;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid map-get($colors, "primary");
    width: calc(80% - 40px);
    transition: all 0.2s ease-in-out;

    &:focus {
      outline: none;

      @include theme() {
        border: 1px solid themed("textColor");
      }
    }

    &.error {
      border-color: map-get($colors, "error");
    }

    @include mobile {
      font-size: 4vmin;
    }
  }

  .error-msg {
    font-size: 1.5vmin;
    color: map-get($colors, "error");

    @include mobile {
      font-size: 3vmin;
    }
  }

  textarea {
    font-size: 1.5vmin;
    @include theme() {
      background-color: themed("cardColor");
      color: themed("textColor");
    }

    font-weight: 400;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid map-get($colors, "primary");
    width: calc(80% - 40px);
    height: 7rem;
    resize: none;
    transition: all 0.2s ease-in-out;

    @include mobile {
      font-size: 4vmin;
    }
  }

  textarea:focus {
    outline: none;

    @include theme() {
      border: 1px solid themed("textColor");
    }
  }

  .sendButton {
    .preloader {
      margin-left: 10px;
      color: map-get($colors, "accent");
    }
  }
}

@include tablet {
  .contact-page {
    background-image: url("../../assets/images/bg/mobile_contact_bg.svg");
    background-position: bottom right;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    display: block;
    padding-right: 10%;

    .title {
      text-align: center;
    }
  }

  form {
    input,
    textarea {
      width: calc(100% - 40px);
    }
  }

  #contact-illustration {
    display: none;
  }
}

/*----- ANIMATIONS -----*/
#contact-illustration {
  #first-chat {
    animation: chat-anim;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  #second-chat {
    animation: chat-anim;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
  }

  #third-chat {
    animation: chat-anim;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
  }

  #right-leafs {
    animation: right-leaf-anim;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    transform-box: fill-box;
  }

  #left-leafs {
    animation: left-leaf-anim;
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    transform-box: fill-box;
  }
}

@keyframes chat-anim {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes right-leaf-anim {
  0% {
    transform: rotateZ(-15deg) translateY(-5px);
  }
  50% {
    transform: rotateZ(7deg) translateY(5px);
  }
  100% {
    transform: rotateZ(-15deg) translateY(-5px);
  }
}

@keyframes left-leaf-anim {
  0% {
    transform: rotateZ(7deg) translateY(-3px);
  }
  50% {
    transform: rotateZ(-10deg) translateY(3px);
  }
  100% {
    transform: rotateZ(7deg) translateY(-3px);
  }
}
