@import "~rfs/scss";
@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

nav {
  display: flex;
  justify-content: space-between;

  ul.nav-links {
    display: inline-block;
  }

  ul.nav-links li:nth-last-child(-n + 3) {
    display: none;
  }

  ul.nav-links li {
    // @include font-size(16px);
    font-size: 2vmin;
    display: inline-block;
    margin: map-get($paddings, "navbar");
    font-weight: 500;
    color: map-get($colors, "primary");
  }

  ul.nav-links li:hover {
    cursor: pointer;
    color: map-get($colors, "accent");
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
  }

  .hamburger-icon {
    position: fixed;
    // top: 4%;
    right: 4%;
    z-index: 2;
    display: none;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
      0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    @include font-size(35px);

    @include theme() {
      background-color: themed("cardColor");
      color: themed("textColor");
    }
  }

  .links {
    display: none;
  }
}

.hamburger-icon.mobile {
  display: block;
}

.hamburger-icon.animate {
  animation-name: hamburgerAnimation;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@mixin responsive-navbar {
  ul.nav-links {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(map-get($colors, "accent"), map-get($colors, "accent2"));
    text-align: center;
    clip-path: circle(20px at 100% -20%);
    -webkit-clip-path: circle(20px at 100% -20%);
    transition: all 0.5s ease-out;
  }

  ul.nav-links.active {
    clip-path: circle(150vmax at 90% -20%);
    -webkit-clip-path: circle(150vmax at 90% -20%);
  }

  ul.nav-links li {
    display: block;
    position: relative;
    top: 35vh;
  }

  ul.nav-links li a {
    color: map-get($colors, "background");
  }

  ul.nav-links li a:hover {
    color: map-get($colors, "background");
  }

  ul.nav-links li:nth-last-child(-n + 3) {
    display: block;
  }

  .hamburger-icon.active {
    display: block;
  }

  @keyframes hamburgerAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
}

nav.mobile {
  @include responsive-navbar();
}

@include tablet {
  nav {
    @include responsive-navbar();

    ul.nav-links li {
      font-size: 4vmin;
    }
  }
}
