@import "./assets/styles/mixins";

body,
html {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

.App {
  @include theme() {
    background-color: themed("backgroundColor");
  }
}

a {
  text-decoration: none;
}

.button {
  @include button;
}
