@import "~rfs/scss";
@import "./variables";
@import "./themes";

@mixin button {
  @include font-size(16px);
  font-weight: 400;
  padding: 15px 25px 15px 25px;
  margin-top: 20px;
  width: fit-content;
  background-color: transparent;
  border-radius: 5px;

  @include theme() {
    color: themed("buttonColor");
    border: 2px solid themed("buttonColor");
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
  }
  &:focus {
    outline: 0;
  }
}

/*----- THEME MIXIN ----- */
@mixin theme() {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

/*----- RESPONSIVE BREAKPOINTS ----- */
@mixin tablet {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: 600px) {
    @content;
  }
}
