$themes: (
  light: (
    backgroundColor: #fcfcfc,
    textColor: #1a1a1a,
    accentColor: #613dc1,
    buttonColor: #613dc1,
    cardColor: #fcfcfc,
  ),
  dark: (
    backgroundColor: #1a1a1a,
    textColor: #fcfcfc,
    accentColor: #613dc1,
    buttonColor: #fcfcfc,
    cardColor: #393939,
  ),
);
